body {
    overflow-x: hidden;
}
/* Mejora visual del enlace activo */
#sidebar-wrapper .list-group-item.active {
    background-color: rgba(255, 255, 255, 0.1); /* fondo claro */
    color: #fff;
    font-weight: bold;
    border-left: 4px solid #0dcaf0; /* cyan Bootstrap */
}