:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Esto empuja el footer al fondo */
}

/* Color celeste para estado PENDIENTE */
.bg-info-light {
  background-color: #4dd0e1 !important;
}

.card {
  transition: transform 0.2s ease;
  border: 1px solid #eee !important;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.05) !important;
}