/* Contenedor Principal */
.main-content-wrapper {
  margin-left: 250px; /* Ancho del sidebar */
  padding-top: 60px;  /* Aumentamos esto (antes estaba en 60px) */
  min-height: 100vh;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #f8fafc;
  transition: all 0.3s ease;
}
/* Cabecera de Tabla */
.uppercase-header th {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f1f5f9;
}

/* Filas */
.patient-row:hover {
  background-color: #f8fbff !important;
}

/* Avatar por inicial */
.avatar-circle {
  width: 35px;
  height: 35px;
  background-color: #6366f1;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Indicador de estado (Punto) */
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

/* Botón Editar */
.btn-action-edit {
  border: none;
  background: white;
  color: #6366f1;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  transition: 0.2s;
}

.btn-action-edit:hover {
  background: #6366f1;
  color: white;
  transform: translateY(-2px);
}

/* Alerta Personalizada */
.alert-custom-danger {
  background-color: #fee2e2;
  border: 1px solid #ef4444;
  color: #b91c1c;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .main-content-wrapper {
    margin-left: 0;
  }
}